<template>
  <div class="section-admin">
    <section class="section">
      <TheHeaderAdmin />
      <div class="main-admin">
        <div class="main-admin__header">
          <div>
            <h1 class="main-admin__title">
              País <b class="text-primary">{{ getCountry.name }}</b>
            </h1>
          </div>
          <div>
            <router-link
              :to="{
                name: 'EditCountry',
                params: { country: getCountry.key }
              }"
              class="btn btn--warning"
              >Editar</router-link
            >
            <router-link
              :to="{ name: 'Countries' }"
              class="btn btn--default ml-3"
              >Volver</router-link
            >
          </div>
        </div>
        <div class="card">
          <div class="card__body">
            <div class="card__country">
              <div class="card__country--img">
                <img
                  :src="
                    getCountry.code
                      ? `https://res.cloudinary.com/dbszizqh4/image/upload/v1562476222/flags/${getCountry.code}.png`
                      : `https://res.cloudinary.com/dbszizqh4/image/upload/v1562473096/favicon_default.png`
                  "
                  :alt="getCountry.name"
                  class="img-flag"
                />
              </div>
              <div class="card__country--body">
                <h2 class="card__country--title">
                  <small class="text-primary">Nombre:</small>
                  {{ getCountry.name }}
                </h2>
                <p class="card__country--p">
                  <span class="text-primary">Llave: </span
                  ><span>{{ getCountry.key }}</span>
                </p>
                <p class="card__country--p">
                  <span class="text-primary">Código: </span
                  ><span>{{ getCountry.code }}</span>
                </p>
                <p class="card__country--p">
                  <span class="text-primary">Moneda: </span
                  ><span>{{ getCountry.currency }}</span>
                </p>
                <p>
                  <span class="text-primary">Estatus: </span
                  ><i
                    v-if="getCountry.isActive"
                    class="fas fa-circle text-secondary"
                  ></i>
                  <i v-else class="far fa-circle text-gray"></i>
                </p>
              </div>
            </div>
          </div>
          <div class="card__footer">
            <router-link
              :to="{
                name: 'Statements',
                params: { country: getCountry.key }
              }"
              class="text-center text-primary"
              ><b
                >{{ getStatements.length }}
                {{ getStatements.length === 1 ? `Estado` : `Estados` }}</b
              ></router-link
            >
          </div>
        </div>
      </div>
      <TheFooterAdmin />
    </section>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

import TheHeaderAdmin from "@/components/TheHeaderAdmin";
import TheFooterAdmin from "@/components/TheFooterAdmin";

export default {
  name: "Country",
  components: {
    TheHeaderAdmin,
    TheFooterAdmin
  },
  data() {
    return {
      country: ""
    };
  },
  created() {
    this.fetchCountry(this.$route.params.country);
    this.fetchStatements(this.$route.params.country);
  },
  methods: {
    ...mapActions(["fetchCountry", "fetchStatements"])
  },
  computed: {
    ...mapGetters(["getCountry", "getStatements"])
  },
  watch: {
    $route: "getCountry"
  }
};
</script>

<style scoped>
.card__country {
  display: flex;
}

.card__country--img {
  margin: 0.5rem 1rem 0 0;
}

.img-flag {
  width: 2rem;
  height: 1.5rem;
  object-fit: cover;
  position: center center;
}

.card__country--title {
  margin: 0 0 1rem;
  padding: 0;
  font-weight: normal;
}

.card__country--p {
  margin: 0;
  padding: 0.25rem 0;
}
</style>
