<template>
  <div class="Dashboard">
    <TheSidebar />
    <router-view />
  </div>
</template>

<script>
import TheSidebar from "@/components/TheSidebar";

export default {
  name: "Dashboard",
  components: {
    TheSidebar
  },
  data() {
    return {};
  },
  created() {},
  methods: {},
  computed: {}
};
</script>

<style scoped></style>
