<template>
  <div class="section-admin">
    <section class="section">
      <TheHeaderAdmin />
      <div class="main-admin">
        <div class="main-admin__header">
          <div>
            <h1 class="main-admin__title">Dashboard</h1>
          </div>
          <div></div>
        </div>
        <div class="card">
          <div class="card__body"></div>
          <div class="card__footer">
            <router-link to="/1" class="text-center">1</router-link>
          </div>
        </div>
        <pre class="container">{{ $data }}</pre>
      </div>
      <TheFooterAdmin />
    </section>
  </div>
</template>

<script>
import TheHeaderAdmin from "@/components/TheHeaderAdmin";
import TheFooterAdmin from "@/components/TheFooterAdmin";

export default {
  name: "DashboardHome",
  components: {
    TheHeaderAdmin,
    TheFooterAdmin
  },
  data() {
    return {};
  },
  created() {},
  methods: {},
  computed: {}
};
</script>

<style scoped></style>
