<template>
  <div class="section-admin">
    <section class="section">
      <TheHeaderAdmin />
      <div class="main-admin">
        <div class="main-admin__header">
          <div>
            <h1 class="main-admin__title">Editar país</h1>
          </div>
          <div>
            <button @click="remove" class="btn btn-outline--danger">
              Eliminar
            </button>
            <router-link
              :to="{
                name: 'Country',
                params: { country: $route.params.country }
              }"
              class="btn btn--default ml-3"
              >Volver</router-link
            >
          </div>
        </div>
        <div class="card">
          <div class="card__body">
            <form @submit.prevent="editCountry">
              <div class="form-group">
                <label for="name">Nombre</label>
                <input
                  type="text"
                  class="form-control"
                  v-model="form.name"
                  id="name"
                  placeholder="Nombre de país"
                />
              </div>
              <div class="form-group">
                <label for="code">Código</label>
                <input
                  type="text"
                  class="form-control"
                  v-model="form.code"
                  id="code"
                  placeholder="Código"
                />
              </div>
              <div class="form-group">
                <label for="currency">Moneda</label>
                <input
                  type="text"
                  class="form-control"
                  v-model="form.currency"
                  id="currency"
                  placeholder="Moneda"
                />
              </div>
              <div class="form-group form-check">
                <span v-if="form.isActive" class="cursor-pointer"
                  ><i
                    class="fas fa-circle text-secondary"
                    @click="toggleActive"
                  ></i>
                  Activo</span
                >
                <span v-if="!form.isActive" class="cursor-pointer"
                  ><i class="far fa-circle text-gray" @click="toggleActive"></i>
                  Inactivo</span
                >
              </div>
              <button type="submit" class="btn btn--warning btn-block">
                Actualizar
              </button>
            </form>
          </div>
          <pre class="container" hidden>{{ $data }}</pre>
        </div>
      </div>
      <TheFooterAdmin />
    </section>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

import TheHeaderAdmin from "@/components/TheHeaderAdmin";
import TheFooterAdmin from "@/components/TheFooterAdmin";

export default {
  name: "EditCountry",
  components: {
    TheHeaderAdmin,
    TheFooterAdmin
  },
  data() {
    return {
      form: {
        key: null,
        code: null,
        currency: null,
        isActive: null,
        name: null
      }
    };
  },
  mounted() {
    this.form = {
      key: this.getCountry.key,
      code: this.getCountry.code,
      currency: this.getCountry.currency,
      isActive: this.getCountry.isActive,
      name: this.getCountry.name
    };
  },
  created() {
    this.fetchCountry(this.$route.params.country);
  },
  methods: {
    ...mapActions(["removeCountry", "fetchCountry", "updateCountry"]),
    async editCountry() {
      if (this.form.name !== null) {
        const info = {
          slug: await this.form.key,
          code: (await this.form.code) ? this.form.code.toLowerCase() : "",
          currency: (await this.form.currency)
            ? this.form.currency.toUpperCase()
            : "",
          isActive: await this.form.isActive,
          name: await this.form.name
        };

        await this.updateCountry(info);
        await this.$router.replace(
          `/backoffice/pais/${this.$route.params.country}`
        );
      }
    },
    async remove() {
      if (window.confirm(`Está a punto de borrar un elemento`)) {
        await this.removeCountry(this.$route.params.country);
        await this.$router.replace(`/backoffice/paises`);
      }
    },
    async toggleActive() {
      this.form.isActive = !this.form.isActive;
    }
  },
  computed: {
    ...mapGetters(["getCountry"])
  },
  watch: {
    $route: "getCountry"
  }
};
</script>

<style scoped></style>
