<template>
  <div class="section-admin">
    <section class="section">
      <TheHeaderAdmin />
      <div class="main-admin">
        <div class="main-admin__header">
          <div>
            <h1 class="main-admin__title">Editar ciudad</h1>
          </div>
          <div>
            <button @click="remove" class="btn btn-outline--danger">
              Eliminar
            </button>
            <router-link
              :to="{
                name: 'City',
                params: {
                  country: $route.params.country,
                  statement: $route.params.statement,
                  city: $route.params.city
                }
              }"
              class="btn btn--default ml-3"
              >Volver</router-link
            >
          </div>
        </div>
        <div class="card">
          <div class="card__body">
            <form @submit.prevent="editCity">
              <div class="form-group">
                <label for="name">Nombre</label>
                <input
                  type="text"
                  class="form-control"
                  v-model="form.name"
                  id="name"
                  placeholder="Nombre de ciudad"
                />
              </div>
              <div class="form-group form-check">
                <span v-if="form.isActive" class="cursor-pointer"
                  ><i
                    class="fas fa-circle text-secondary"
                    @click="toggleActive"
                  ></i>
                  Activo</span
                >
                <span v-if="!form.isActive" class="cursor-pointer"
                  ><i class="far fa-circle text-gray" @click="toggleActive"></i>
                  Inactivo</span
                >
              </div>
              <button type="submit" class="btn btn--warning btn-block">
                Actualizar
              </button>
            </form>
          </div>
        </div>
        <pre class="container" hidden>{{ $data }}</pre>
      </div>
      <TheFooterAdmin />
    </section>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

import TheHeaderAdmin from "@/components/TheHeaderAdmin";
import TheFooterAdmin from "@/components/TheFooterAdmin";

/* import { fs } from "@/firebase"; */

export default {
  name: "EditCity",
  components: {
    TheHeaderAdmin,
    TheFooterAdmin
  },
  data() {
    return {
      data: {
        city: this.$route.params.city,
        country: this.$route.params.country,
        statement: this.$route.params.statement
      },
      form: {
        key: null,
        state: null,
        isActive: null,
        name: null
      }
    };
  },
  mounted() {
    this.form = {
      key: this.getCity.key,
      state: this.getCity.state,
      isActive: this.getCity.isActive,
      name: this.getCity.name
    };
  },
  created() {
    this.fetchCity(this.data);
  },
  methods: {
    ...mapActions(["removeCity", "fetchCity", "updateCity"]),
    async editCity() {
      if (this.form.name !== null) {
        const info = {
          slug: await this.form.key,
          statement: await this.form.state,
          name: await this.form.name,
          isActive: await this.form.isActive,
          country: this.$route.params.country
        };

        await this.updateCity(info);
        await this.$router.replace(
          `/backoffice/ciudad/${info.country}/${info.statement}/${info.slug}`
        );
      }
    },
    async remove() {
      if (window.confirm(`Está a punto de borrar un elemento`)) {
        const info = {
          slug: this.$route.params.city,
          country: this.$route.params.country,
          statement: this.$route.params.statement
        };

        await this.removeCity(info);
        await this.$router.replace(
          `/backoffice/estado/${info.country}/${info.statement}/ciudades`
        );
      }
    },
    async toggleActive() {
      this.form.isActive = !this.form.isActive;
    }
  },
  computed: {
    ...mapGetters(["getCity"])
  },
  watch: {
    $route: "getCity"
  }
};
</script>

<style scoped></style>
