<template>
  <div class="section-admin">
    <section class="section">
      <TheHeaderAdmin />
      <div class="main-admin">
        <div class="main-admin__header">
          <div>
            <h1 class="main-admin__title">Editar estado</h1>
          </div>
          <div>
            <button @click="remove" class="btn btn-outline--danger">
              Eliminar
            </button>
            <router-link
              :to="{
                name: 'Statement',
                params: {
                  country: $route.params.country,
                  statement: $route.params.statement
                }
              }"
              class="btn btn--default ml-3"
              >Volver</router-link
            >
          </div>
        </div>
        <div class="card">
          <div class="card__body">
            <form @submit.prevent="editStatement">
              <div class="form-group">
                <label for="name">Nombre</label>
                <input
                  type="text"
                  class="form-control"
                  v-model="form.name"
                  id="name"
                  placeholder="Nombre de estado"
                />
              </div>
              <div class="form-group form-check">
                <span v-if="form.isActive" class="cursor-pointer"
                  ><i
                    class="fas fa-circle text-secondary"
                    @click="toggleActive"
                  ></i>
                  Activo</span
                >
                <span v-if="!form.isActive" class="cursor-pointer"
                  ><i class="far fa-circle text-gray" @click="toggleActive"></i>
                  Inactivo</span
                >
              </div>
              <button type="submit" class="btn btn--warning btn-block">
                Actualizar
              </button>
            </form>
          </div>
        </div>
        <pre class="container" hidden>{{ $data }}</pre>
      </div>
      <TheFooterAdmin />
    </section>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

import TheHeaderAdmin from "@/components/TheHeaderAdmin";
import TheFooterAdmin from "@/components/TheFooterAdmin";

export default {
  name: "EditStatement",
  components: {
    TheHeaderAdmin,
    TheFooterAdmin
  },
  data() {
    return {
      data: {
        country: this.$route.params.country,
        statement: this.$route.params.statement
      },
      form: {
        key: null,
        country: null,
        isActive: null,
        name: null
      }
    };
  },
  mounted() {
    this.form = {
      key: this.getStatement.key,
      country: this.getStatement.country,
      isActive: this.getStatement.isActive,
      name: this.getStatement.name
    };
  },
  created() {
    this.fetchStatement(this.data);
  },
  methods: {
    ...mapActions(["removeStatement", "fetchStatement", "updateStatement"]),
    async editStatement() {
      if (this.form.name !== null) {
        const info = {
          slug: await this.form.key,
          country: await this.form.country,
          isActive: await this.form.isActive,
          name: await this.form.name
        };

        await this.updateStatement(info);
        await this.$router.replace(
          `/backoffice/estado/${info.country}/${info.slug}`
        );
      }
    },
    async remove() {
      if (window.confirm(`Está a punto de borrar un elemento`)) {
        const info = {
          country: this.$route.params.country,
          slug: this.$route.params.statement
        };

        await this.removeStatement(info);
        await this.$router.replace(`/backoffice/pais/${info.country}/estados`);
      }
    },
    async toggleActive() {
      this.form.isActive = !this.form.isActive;
    }
  },
  computed: {
    ...mapGetters(["getStatement"])
  },
  watch: {
    $route: "getStatement"
  }
};
</script>

<style scoped></style>
