<template>
  <div class="section-admin">
    <section class="section">
      <TheHeaderAdmin />
      <div class="main-admin">
        <div class="main-admin__header">
          <div>
            <h1 class="main-admin__title">País nuevo</h1>
          </div>
          <div>
            <router-link
              :to="{ name: 'Countries' }"
              class="btn btn--default ml-3"
              >Volver</router-link
            >
          </div>
        </div>
        <div class="card">
          <div class="card__body">
            <form @submit.prevent="newCountry">
              <div class="form-group">
                <label for="name">Nombre</label>
                <input
                  type="text"
                  class="form-control"
                  v-model="form.name"
                  id="name"
                  placeholder="Nombre de país"
                />
              </div>
              <div class="form-group">
                <label for="name">Slug</label>
                <input
                  type="text"
                  class="form-control"
                  v-model="form.slug"
                  id="slug"
                  placeholder="Slug de país"
                />
              </div>
              <div class="form-group">
                <label for="code">Código</label>
                <input
                  type="text"
                  class="form-control"
                  v-model="form.code"
                  id="code"
                  placeholder="Código"
                />
              </div>
              <div class="form-group">
                <label for="currency">Moneda</label>
                <input
                  type="text"
                  class="form-control"
                  v-model="form.currency"
                  id="currency"
                  placeholder="Moneda"
                />
              </div>
              <div class="form-group form-check">
                <span v-if="form.isActive" class="cursor-pointer"
                  ><i
                    class="fas fa-circle text-secondary"
                    @click="toggleActive"
                  ></i>
                  Activo</span
                >
                <span v-if="!form.isActive" class="cursor-pointer"
                  ><i class="far fa-circle text-gray" @click="toggleActive"></i>
                  Inactivo</span
                >
              </div>
              <button type="submit" class="btn btn--secondary btn-block">
                Crear
              </button>
            </form>
          </div>
        </div>
        <pre class="container" hidden>{{ $data }}</pre>
      </div>
      <TheFooterAdmin />
    </section>
  </div>
</template>

<script>
import { mapActions } from "vuex";

import TheHeaderAdmin from "@/components/TheHeaderAdmin";
import TheFooterAdmin from "@/components/TheFooterAdmin";

export default {
  name: "NewCountry",
  components: {
    TheHeaderAdmin,
    TheFooterAdmin
  },
  data() {
    return {
      form: {
        code: null,
        currency: null,
        isActive: false,
        name: null,
        slug: null
      }
    };
  },
  created() {},
  methods: {
    ...mapActions(["addCountry"]),
    async newCountry() {
      if (this.form.name !== null && this.form.slug !== null) {
        const info = {
          code: this.form.code ? this.form.code.toLowerCase() : "",
          currency: this.form.currency ? this.form.currency.toUpperCase() : "",
          isActive: this.form.isActive,
          name: this.form.name,
          slug: this.form.slug
        };

        await this.addCountry(info);
        await this.$router.replace(`/backoffice/pais/${info.slug}`);
      }
    },
    async toggleActive() {
      this.form.isActive = !this.form.isActive;
    }
  },
  computed: {}
};
</script>

<style scoped></style>
