<template>
  <div class="section-admin">
    <section class="section">
      <TheHeaderAdmin />
      <div class="main-admin">
        <div class="main-admin__header">
          <div>
            <h1 class="main-admin__title">Estado nuevo</h1>
          </div>
          <div>
            <router-link
              :to="{
                name: 'Statements',
                params: { country: $route.params.country }
              }"
              class="btn btn--default ml-3"
              >Volver</router-link
            >
          </div>
        </div>
        <div class="card">
          <div class="card__body">
            <form @submit.prevent="newStatement">
              <div class="form-group">
                <label for="name">Nombre</label>
                <input
                  type="text"
                  class="form-control"
                  v-model="form.name"
                  id="name"
                  placeholder="Nombre de estado"
                />
              </div>
              <div class="form-group">
                <label for="name">Slug</label>
                <input
                  type="text"
                  class="form-control"
                  v-model="form.slug"
                  id="slug"
                  placeholder="Slug de estado"
                />
              </div>
              <div class="form-group form-check">
                <span v-if="form.isActive" class="cursor-pointer"
                  ><i
                    class="fas fa-circle text-secondary"
                    @click="toggleActive"
                  ></i>
                  Activo</span
                >
                <span v-if="!form.isActive" class="cursor-pointer"
                  ><i class="far fa-circle text-gray" @click="toggleActive"></i>
                  Inactivo</span
                >
              </div>
              <button type="submit" class="btn btn--secondary btn-block">
                Crear
              </button>
            </form>
          </div>
        </div>
        <pre class="container" hidden>{{ $data }}</pre>
      </div>
      <TheFooterAdmin />
    </section>
  </div>
</template>

<script>
import { mapActions } from "vuex";

import TheHeaderAdmin from "@/components/TheHeaderAdmin";
import TheFooterAdmin from "@/components/TheFooterAdmin";

export default {
  name: "NewStatement",
  components: {
    TheHeaderAdmin,
    TheFooterAdmin
  },
  data() {
    return {
      form: {
        country: this.$route.params.country,
        isActive: false,
        name: null,
        slug: null
      }
    };
  },
  created() {},
  methods: {
    ...mapActions(["addStatement"]),
    async newStatement() {
      if (this.form.name !== null && this.form.slug !== null) {
        const info = {
          country: this.form.country,
          isActive: this.form.isActive,
          name: this.form.name,
          slug: this.form.slug
        };

        await this.addStatement(info);
        await this.$router.replace(
          `/backoffice/estado/${info.country}/${info.slug}`
        );
      }
    },
    async toggleActive() {
      this.form.isActive = !this.form.isActive;
    }
  },
  computed: {}
};
</script>

<style scoped></style>
