/* eslint-disable prettier/prettier */
<template>
  <div class="section-admin">
    <section class="section">
      <TheHeaderAdmin />
      <div class="main-admin">
        <div class="main-admin__header">
          <div>
            <h1 class="main-admin__title">Usuario nuevo</h1>
          </div>
          <div>
            <router-link :to="{ name: 'Users' }" class="btn btn--default ml-3"
              >Volver</router-link
            >
          </div>
        </div>
        <div class="card">
          <div class="card__body">
            <form @submit.prevent="addUser">
              <div class="form-group">
                <label for="name">Nombre</label>
                <input
                  type="text"
                  class="form-control"
                  v-model="form.name"
                  id="name"
                  placeholder="Nombre de ciudad"
                />
              </div>
              <div class="form-group">
                <label for="name">Slug</label>
                <input
                  type="text"
                  class="form-control"
                  v-model="form.slug"
                  id="slug"
                  placeholder="Slug de ciudad"
                />
              </div>
              <div class="form-group form-check">
                <span v-if="form.isActive" class="cursor-pointer"
                  ><i
                    class="fas fa-circle text-secondary"
                    @click="toggleActive"
                  ></i>
                  Activo</span
                >
                <span v-if="!form.isActive" class="cursor-pointer"
                  ><i class="far fa-circle text-gray" @click="toggleActive"></i>
                  Inactivo</span
                >
              </div>
              <button type="submit" class="btn btn--secondary btn-block">
                Crear
              </button>
            </form>
          </div>
        </div>
        <pre class="container" hidden>{{ $data }}</pre>
      </div>
      <TheFooterAdmin />
    </section>
  </div>
</template>

<script>
import TheHeaderAdmin from "@/components/TheHeaderAdmin";
import TheFooterAdmin from "@/components/TheFooterAdmin";

import { fs } from "@/firebase";

export default {
  name: "NewUser",
  components: {
    TheHeaderAdmin,
    TheFooterAdmin
  },
  data() {
    return {
      form: {
        displayName: null,
        email: null,
        emailVerified: false,
        phoneNumber: null,
        photoURL: null,
        providerData: null,
        uid: null
      }
    };
  },
  created() {},
  methods: {
    async addUser() {
      if (this.form.name !== null && this.form.slug !== null) {
        const info = {
          displayName: this.form.displayName,
          email: this.form.email,
          emailVerified: this.form.emailVerified,
          phoneNumber: this.form.phoneNumber,
          photoURL: this.form.photoURL,
          providerData: this.form.providerData,
          uid: this.form.uid
        };

        await fs
          .collection(`users`)
          .set(info)
          .then(() => {
            this.$router.replace(`/backoffice/usuarios`);
          })
          .catch(function(error) {
            console.log("Error getting document:", error);
          });
      }
    },
    async toggleActive() {
      this.form.isActive = !this.form.isActive;
    }
  },
  computed: {}
};
</script>

<style scoped></style>
