<template>
  <div class="section-admin">
    <section class="section">
      <TheHeaderAdmin />
      <div class="main-admin">
        <div class="main-admin__header">
          <div>
            <h1 class="main-admin__title">
              {{ getStatements.length }}
              {{ getStatements.length === 1 ? `Estado` : `Estados` }}
            </h1>
          </div>
          <div>
            <router-link
              :to="{ name: 'NewStatement' }"
              class="btn btn--secondary"
              >Nuevo</router-link
            >
            <router-link
              :to="{
                name: 'Country',
                params: { country: $route.params.country }
              }"
              class="btn btn--default ml-3"
              >Volver</router-link
            >
          </div>
        </div>
        <transition name="fade">
          <div class="card">
            <div class="card__body">
              <table class="table">
                <thead class="table__head">
                  <tr class="table__head--tr">
                    <th scope="col" class="table__head--th" style="width:2rem;">
                      #
                    </th>
                    <th scope="col" class="table__head--th">Nombre</th>
                    <th
                      scope="col"
                      class="table__head--th text-right"
                      style="width:2rem;"
                    >
                      Estado
                    </th>
                  </tr>
                </thead>
                <tbody class="table__body">
                  <tr
                    class="table__body--tr"
                    v-for="(item, index) in getStatements"
                    :key="index"
                  >
                    <th
                      scope="row"
                      class="table__body--th text-uppercase"
                      style="width:2rem;"
                    >
                      {{ index + 1 }}
                    </th>
                    <td class="table__body--td">
                      <router-link
                        :to="{
                          name: 'Statement',
                          params: { country: item.country, statement: item.key }
                        }"
                        class="text-primary"
                        ><b>{{ item.name }}</b></router-link
                      >
                    </td>
                    <td class="table__body--td text-right" style="width:2rem;">
                      <i
                        v-if="item.isActive"
                        class="fas fa-circle text-secondary"
                      ></i>
                      <i v-else class="far fa-circle text-gray"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="card__footer">
              <router-link to="/1" class="text-center">1</router-link>
            </div>
          </div>
        </transition>
        <pre class="container" hidden>{{ $data }}</pre>
      </div>
      <TheFooterAdmin />
    </section>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

import TheHeaderAdmin from "@/components/TheHeaderAdmin";
import TheFooterAdmin from "@/components/TheFooterAdmin";

export default {
  name: "Statements",
  components: {
    TheHeaderAdmin,
    TheFooterAdmin
  },
  data() {
    return {};
  },
  created() {
    this.fetchStatements(this.$route.params.country);
  },
  methods: {
    ...mapActions(["fetchStatements"])
  },
  computed: {
    ...mapGetters(["getStatements"])
  },
  watch: {
    $route: "getStatements"
  }
};
</script>

<style scoped></style>
