<template>
  <div class="section-admin">
    <section class="section">
      <TheHeaderAdmin />
      <div class="main-admin">
        <div class="main-admin__header">
          <div>
            <h1 class="main-admin__title">
              Ciudad <b class="text-primary">{{ getUser.name }}</b>
            </h1>
          </div>
          <div>
            <router-link
              :to="{
                name: 'EditUser',
                params: {
                  id: getUser.key
                }
              }"
              class="btn btn--warning"
              >Editar</router-link
            >
            <router-link :to="{ name: 'Users' }" class="btn btn--default ml-3"
              >Volver</router-link
            >
          </div>
        </div>
        <div class="card">
          <div class="card__body">
            <div class="card__country">
              <div class="card__country--img">
                <img
                  src="https://res.cloudinary.com/dbszizqh4/image/upload/v1562473096/logo_default.png"
                  :alt="getUser.name"
                  class="img-flag"
                />
              </div>
              <div class="card__country--body">
                <h2 class="card__country--title">
                  <small class="text-primary">Nombre:</small>
                  {{ getUser.name }}
                </h2>
                <p class="card__country--p">
                  <span class="text-primary">Llave: </span
                  ><span>{{ getUser.key }}</span>
                </p>
                <p>
                  <span class="text-primary">Estatus: </span
                  ><i
                    v-if="getUser.isActive"
                    class="fas fa-circle text-secondary"
                  ></i>
                  <i v-else class="far fa-circle text-gray"></i>
                </p>
              </div>
            </div>
          </div>
          <div class="card__footer">
            <pre class="container" hidden>{{ getUser }}</pre>
          </div>
        </div>
      </div>
      <TheFooterAdmin />
    </section>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

import TheFooterAdmin from "@/components/TheFooterAdmin";
import TheHeaderAdmin from "@/components/TheHeaderAdmin";

export default {
  name: "User",
  components: {
    TheHeaderAdmin,
    TheFooterAdmin
  },
  data() {
    return {};
  },
  created() {
    this.fetchUser(this.$route.params.id);
  },
  methods: {
    ...mapActions(["fetchUser"])
  },
  computed: {
    ...mapGetters(["getUser"])
  },
  watch: {
    $route: "getUser"
  }
};
</script>

<style scoped>
.card__country {
  display: flex;
}

.card__country--img {
  margin: 0.5rem 1rem 0 0;
}

.img-flag {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  position: center center;
}

.card__country--title {
  margin: 0 0 1rem;
  padding: 0;
  font-weight: normal;
}

.card__country--p {
  margin: 0;
  padding: 0.25rem 0;
}
</style>
