<template>
  <div>
    <TheHeader />
    <main class="login">
      <div class="container">
        <div class="card">
          <div class="card__body">
            <h1>This is a error page</h1>
          </div>
        </div>
      </div>
    </main>
    <TheFooter />
  </div>
</template>

<script>
import TheFooter from "@/components/TheFooter";
import TheHeader from "@/components/TheHeader";

export default {
  name: "Error",
  components: {
    TheFooter,
    TheHeader
  }
};
</script>
