<template>
  <div class="home">
    <TheHeader />
    <main>
      <div class="container">
        <div class="card mb-3">
          <div class="card__header">
            <div class="card__header--search">
              <Search />
            </div>
            <div class="card__header--new">
              <NewProduct />
            </div>
          </div>
          <div class="card__body">
            <Product
              v-for="(item, index) in getProducts"
              :key="index"
              :code="item.id"
              :createdAt="item.createdAt"
              :isActive="item.isActive"
              :title="item.title"
            />
          </div>
          <div class="card__footer">
            <div
              id="bajo"
              style="padding:2rem; border:solid 1px var(--gray); border-radius:0.5rem; background: rgba(0, 0, 0, 0.05);"
            ></div>
          </div>
        </div>
      </div>
      <pre class="container" hidden>{{ getProducts }}</pre>
    </main>
    <TheFooter />
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

import Product from "@/components/ProductCard";
import NewProduct from "@/components/NewProduct";
import TheFooter from "@/components/TheFooter";
import TheHeader from "@/components/TheHeader";
import Search from "@/components/Search";

export default {
  name: "Home",
  components: {
    Product,
    NewProduct,
    Search,
    TheFooter,
    TheHeader
  },
  data() {
    return {};
  },
  created() {
    this.fetchProducts();
  },
  methods: {
    ...mapActions(["fetchProducts"])
  },
  computed: {
    ...mapGetters(["getProducts"])
  },
  watch: {
    $route: "getProducts"
  }
};
</script>

<style scoped></style>
