<template>
  <div>
    <TheHeader />
    <main class="new-product">
      <div class="container">
        <div class="card">
          <div class="card__header">
            <div class="card__header--search">
              <Search />
            </div>
            <div class="card__header--new"></div>
          </div>
          <div class="card__body">
            <form @submit.prevent="newProduct">
              <div class="form-group">
                <label for="barcode">Barcode</label>
                <input
                  type="number"
                  class="form-control"
                  v-model="form.barcode"
                  id="barcode"
                  placeholder="Barcode"
                />
              </div>
              <div class="form-group">
                <label for="title">Title</label>
                <input
                  type="text"
                  class="form-control"
                  v-model="form.title"
                  id="title"
                  placeholder="Title"
                />
              </div>
              <div class="form-group">
                <label for="slug">Slug</label>
                <input
                  type="text"
                  class="form-control"
                  v-model="form.slug"
                  id="slug"
                  placeholder="Slug"
                />
              </div>
              <div class="form-group">
                <label for="description">Description</label>
                <vue-editor v-model="form.description"></vue-editor>
              </div>
              <div class="form-group">
                <label for="legals">Legals</label>
                <vue-editor v-model="form.legals"></vue-editor>
              </div>
              <button type="submit" class="btn btn--secondary btn-block">
                Add
              </button>
            </form>
          </div>
          <pre class="container" hidden>{{ $data }}</pre>
        </div>
      </div>
    </main>
    <TheFooter />
  </div>
</template>

<script>
import { mapActions } from "vuex";

import Search from "@/components/Search";
import TheFooter from "@/components/TheFooter";
import TheHeader from "@/components/TheHeader";

import { VueEditor } from "vue2-editor";

export default {
  name: "NewProduct",
  components: {
    Search,
    TheFooter,
    TheHeader,
    VueEditor
  },
  data() {
    return {
      form: {
        barcode: null,
        title: null,
        slug: null,
        description: null,
        legals: null,
        uid: "AlFLDDdsm7MhbBRJv2mvObczRAp1"
      }
    };
  },
  created() {},
  methods: {
    ...mapActions(["addProduct"]),
    async newProduct() {
      const info = {
        barcode: await this.form.barcode,
        title: await this.form.title,
        slug: await this.form.slug,
        description: await this.form.description,
        legals: await this.form.legals,
        uid: await this.form.uid
      };

      await this.addProduct(info);
      await this.$router.replace("/");
    }
  },
  computed: {}
};
</script>
