<template>
  <div class="product">
    <TheHeader />
    <main>
      <div class="container">
        <div class="card mb-3">
          <div class="card__header">
            <div class="card__header--search">
              <Search />
            </div>
            <div class="card__header--new">
              <NewProduct />
            </div>
          </div>
          <div class="card__body p-3">
            <h1>{{ getProduct.title }}</h1>
            <div class="card-mosaic" v-if="photos">
              <img
                v-if="photo"
                :src="photo"
                :alt="product.title"
                class="card-mosaic__img"
              />
              <canvas id="canvas" class="canvas mt-4" hidden></canvas>
              <div class="p-3" v-if="photos.length > 1">
                <input
                  type="range"
                  class="custom-range"
                  min="0"
                  :max="photos.length - 1"
                  step="1"
                  id="range"
                  value="0"
                  @input="mosaicPhoto"
                />
              </div>
            </div>
          </div>
          <div class="card-body p-3">
            <h5 class="font-weight-light border-bottom my-3 pb-3">
              Producto: <b class="font-weight-bold">{{ getProduct.id }}</b>
            </h5>
            <h5 class="font-weight-light mb-4">Descripción</h5>
            <div v-html="getProduct.description"></div>
          </div>
          <div class="card-body p-3">
            <h5 class="font-weight-light mb-4">Legales</h5>
            <div v-html="getProduct.legals"></div>
          </div>
          <div class="card__footer"></div>
          <pre class="container">{{ $data }}</pre>
        </div>
      </div>
    </main>
    <TheFooter />
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

import NewProduct from "@/components/NewProduct";
import TheFooter from "@/components/TheFooter";
import TheHeader from "@/components/TheHeader";
import Search from "@/components/Search";

import { fs } from "@/firebase";

export default {
  name: "Product",
  components: {
    NewProduct,
    Search,
    TheFooter,
    TheHeader
  },
  data() {
    return {
      code: "",
      photos: []
    };
  },
  mounted() {
    this.fetchProductPhotos();
  },
  created() {
    this.fetchProduct(this.$route.params.barcode);
  },
  methods: {
    ...mapActions(["fetchProduct"]),
    async fetchProductPhotos() {
      await fs
        .collection(`products/${this.getProduct.id}/photos`)
        .orderBy("order")
        .get()
        .then(async query => {
          let data = [];

          await query.forEach(item => {
            const image = {
              id: item.id,
              image: item.data().image,
              order: item.data().order
            };

            data.push(image);
          });

          this.photos = data;
        })
        .catch(function(error) {
          console.log("Error getting document:", error);
        });
    }
  },
  computed: {
    ...mapGetters(["getProduct"])
  },
  watch: {
    $route: "getProduct"
  }
};
</script>

<style scoped>
.thumbnail-product {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  position: center;
}

.card-mosaic {
  text-align: center;
}

img {
  vertical-align: middle;
  border-style: none;
}

.card-mosaic__img {
  width: 18rem;
  height: 18rem;
  -o-object-fit: cover;
  object-fit: cover;
  position: center center;
  margin: 1rem;
}

input[type="range" i] {
  appearance: slider-horizontal;
  color: rgb(16, 16, 16);
  cursor: default;
  padding: initial;
  border: initial;
  margin: 2px;
}

button,
input {
  overflow: visible;
}

.custom-range {
  width: 100%;
  height: 1.4rem;
  padding: 0;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
</style>
