<template>
  <div>
    <TheHeader />
    <main class="search">
      <div class="container">
        <div class="card">
          <div class="card__header">
            <div class="card__header--search">
              <Search />
            </div>
            <div class="card__header--new">
              <NewProduct />
            </div>
          </div>
          <div class="card__body">
            <h1>This is a search page {{ $router.query.q }}</h1>
          </div>
        </div>
      </div>
    </main>
    <TheFooter />
  </div>
</template>

<script>
import NewProduct from "@/components/NewProduct";
import Search from "@/components/Search";
import TheFooter from "@/components/TheFooter";
import TheHeader from "@/components/TheHeader";

export default {
  name: "Search",
  components: {
    NewProduct,
    Search,
    TheFooter,
    TheHeader
  }
};
</script>
