<template>
  <ul class="nav__list nav--right">
    <li class="nav__item">
      <router-link to="/" class="nav__link"
        ><i class="fas fa-bell nav__header"></i
      ></router-link>
    </li>
    <li class="nav__item">
      <router-link to="/" class="nav__link"
        ><i class="fas fa-life-ring nav__header"></i
      ></router-link>
    </li>
    <li class="nav__item">
      <a href="#" class="nav__link"
        ><img src="../assets/logo.png" class="avatar"
      /></a>
    </li>
  </ul>
</template>

<script>
export default {
  name: "NavRight",
  components: {},
  data() {
    return {};
  },
  created() {},
  methods: {},
  computed: {}
};
</script>

<style scoped>
.avatar {
  width: 2rem;
  height: 2rem;
  margin-left: 0.5rem;
  border: solid 2px transparent;
  border-radius: 50%;
  cursor: pointer;
}

.avatar:hover {
  border: solid 2px var(--secondary);
}
</style>
