<template>
  <router-link :to="{ name: 'NewProduct' }" class="btn btn--secondary">
    Nuevo producto
  </router-link>
</template>

<script>
export default {
  name: "NewProduct"
};
</script>

<style scoped></style>
