<template>
  <router-link :to="{ name: 'Product', params: { barcode: code } }">
    <div class="media">
      <img
        v-if="photos.length"
        :src="photos[0].image"
        :alt="photos[0].order"
        class="media__img"
      />
      <img
        v-else
        src="https://res.cloudinary.com/dbszizqh4/image/upload/v1562473096/logo_default.png"
        alt="default"
        class="media__img"
      />
      <div class="media__body">
        <div class="media__body--data">
          <h4 class="madia__title">{{ title }}</h4>
          <p>
            <span class="text-gray"><b>Código de barras: </b>{{ code }}</span
            ><br />
            <span class="text-primary">
              <span v-if="isActive"
                ><i
                  class="fas fa-circle text-secondary"
                  style="margin:0; padding:0;"
                ></i>
                Activo</span
              >
              <span v-else
                ><i class="far fa-circle" style="margin:0; padding:0;"></i>
                Inactivo</span
              >
            </span>
            | <span class="text-gray">{{ createdAt }}</span>
          </p>
        </div>
        <div class="media__body--chevron">
          <i class="fas fa-chevron-right text-gray"></i>
        </div>
      </div>
    </div>
    <pre class="container" hidden>{{ $data }}</pre>
  </router-link>
</template>

<script>
import { fs } from "@/firebase";

export default {
  name: "ProductCard",
  components: {},
  props: {
    code: String,
    createdAt: String,
    title: String,
    isActive: Boolean
  },
  data() {
    return {
      photos: []
    };
  },
  created() {
    this.fetchProductPhotos(this.code);
  },
  methods: {
    async fetchProductPhotos(id) {
      await fs
        .collection(`/products/${id}/photos`)
        .get()
        .then(async query => {
          let data = [];

          await query.forEach(async item => {
            const images = {
              id: item.id,
              image: item.data().image,
              order: item.data().order
            };

            data.push(images);
          });

          this.photos = data;
        })
        .catch(function(error) {
          console.log("Error getting document:", error);
        });
    }
  },
  computed: {}
};
</script>

<style scoped>
.media {
  padding: 1rem;
  background: transparent;
}

.media:hover {
  background: #efefef;
}

.media__body {
  width: 100%;
  min-height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.media__body--data {
  height: 100%;
}

.media__body--chevron {
  height: 100%;
  padding: 1rem;
  text-align: right;
}

.media__img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  position: center center;
  border-radius: 0.4rem;
  border: solid 1px #e0e0e0;
  padding: 0.5rem;
}

.fas {
  margin-top: 2.5rem;
}

.madia__title {
  margin: 0;
  padding: 0;
  color: var(--primary);
}
</style>
