<template>
  <div>
    <img
      :src="
        photos.image
          ? photos.image
          : `https://res.cloudinary.com/dbszizqh4/image/upload/v1562473096/logo_default.png`
      "
      :alt="photos.order"
      class="media__img"
    />{{ photos }}
    <pre class="container" hidden>{{ $data }}</pre>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  name: "ProductCardImage",
  props: {
    photos: Array
  },
  data() {
    return {};
  },
  mounted() {
    this.photo = this.getProductPhotos;
  },
  created() {
    this.fetchProductPhotos(this.id);
  },
  methods: {
    ...mapActions(["fetchProductPhotos"])
  },
  computed: {
    ...mapGetters(["getProductPhotos"])
  }
};
</script>

<style scoped>
.media__img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  position: center center;
  border-radius: 0.4rem;
  border: solid 1px #e0e0e0;
  padding: 0.5rem;
}
</style>
