<template>
  <form @submit.prevent="search">
    <div class="form__group">
      <input
        type="search"
        name="search"
        v-model="query"
        placeholder="Buscar producto..."
        class="form__input"
      />
      <i class="fas fa-search icon-search" type="submit" @click="search"></i>
    </div>
  </form>
</template>

<script>
export default {
  name: "Search",
  props: {
    q: String
  },
  data() {
    return {
      query: ""
    };
  },
  methods: {
    async search() {
      this.$router.replace(`/buscar?q=${this.query}`);
      this.query = "";
    }
  }
};
</script>

<style scoped>
.icon-search {
  font-size: 1rem;
  margin-left: -2.5rem;
  padding: 1rem;
  cursor: pointer;
}

.form__input {
  font-size: 0.8rem;
  padding: 0.35rem 1rem 0.35rem 0.75rem;
  border-radius: 0.4rem;
  border: solid 1px var(--gray);
  min-width: 15rem;
  color: var(--gray);
}
</style>
