<template>
  <footer class="footer">
    <div class="container">
      <nav class="footer__nav">
        <ul class="nav__list nav--bottom footer__nav--bottom">
          <li class="nav__item">
            <router-link to="/" class="nav__link-flag">Docs</router-link>
          </li>
          <li class="nav__item">
            <router-link to="/" class="nav__link-flag">Pricing</router-link>
          </li>
          <li class="nav__item">
            <router-link to="/" class="nav__link-flag">Support</router-link>
          </li>
          <li class="nav__item">
            <router-link to="/" class="nav__link-flag">News</router-link>
          </li>
          <li class="nav__item">
            <router-link to="/" class="nav__link-flag">Terms</router-link>
          </li>
        </ul>
      </nav>
      <div class="credits">ProductShop &copy; 2020</div>
    </div>
  </footer>
</template>

<script>
export default {
  name: "TheFooter"
};
</script>

<style>
footer {
  background: var(--primary);
  padding: 1rem 0;
}

.credits {
  margin: 0;
  padding: 0.5rem;
  font-size: 0.8rem;
}

.footer__nav--bottom {
  margin-bottom: 0;
}
</style>
