<template>
  <div class="header-admin">
    <div class="nav__list nav--right">
      <form class="form">
        <input
          type="search"
          class="search"
          id="search"
          placeholder="Buscar..."
        />
        <button type="submit" class="btn btn--secondary btn-search">
          <i class="fas fa-search"></i>
        </button>
      </form>
      <NavRight class="notifications" />
    </div>
  </div>
</template>

<script>
import NavRight from "@/components/NavRight";

export default {
  name: "TheHeaderAdmin",
  components: {
    NavRight
  }
};
</script>

<style scoped>
.nav__list {
  margin: 0;
}

.nav--right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form {
  margin: -0.5rem auto 0;
  padding: 0.5rem;
}

.search {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  padding: 0.25rem 1rem;
  border: solid 1px var(--secondary);
}

.btn-search {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding: 0.25rem 1rem;
}

.notifications {
  padding: 0.5rem 0;
}
</style>
