<template>
  <header class="header">
    <nav class="header__top">
      <router-link to="/" class="nav__brand"
        ><img src="../assets/logo.png" class="logo" /> PRODUCTSHOP</router-link
      >
      <NavRight />
    </nav>
    <nav class="header__bottom">
      <ul class="nav__list nav--bottom">
        <li class="nav__item">
          <router-link to="/" class="nav__link-flag active"
            >Productos</router-link
          >
        </li>
        <li class="nav__item">
          <router-link to="/" class="nav__link-flag">Builds</router-link>
        </li>
        <li class="nav__item">
          <router-link to="/" class="nav__link-flag">Plugins</router-link>
        </li>
        <li class="nav__item">
          <router-link to="/" class="nav__link-flag">Domains</router-link>
        </li>
        <li class="nav__item">
          <router-link to="/miembros" class="nav__link-flag"
            >Miembros</router-link
          >
        </li>
        <li class="nav__item">
          <router-link to="/" class="nav__link-flag">Audit log</router-link>
        </li>
        <li class="nav__item">
          <router-link to="/facturacion" class="nav__link-flag"
            >Facturación</router-link
          >
        </li>
        <li class="nav__item">
          <router-link to="/configuracion-grupos" class="nav__link-flag"
            >Configurar grupos</router-link
          >
        </li>
      </ul>
    </nav>
  </header>
</template>

<script>
import NavRight from "@/components/NavRight";

export default {
  name: "TheHeader",
  components: {
    NavRight
  },
  data() {
    return {};
  },
  created() {},
  methods: {},
  computed: {}
};
</script>

<style>
.header {
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: var(--primary);
  color: var(--white);
  padding-bottom: 5rem;
  margin-bottom: 0;
}

.header__top {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px rgba(0, 255, 0, 0.3);
}

.nav__brand {
  color: var(--whit);
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  cursor: pointer;
}

.logo {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

.header__bottom {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  text-align: left;
  padding: 0;
}

.nav--bottom {
  padding: 0 0 1rem 0;
}

.active {
  color: var(--white) !important;
}
</style>
