<template>
  <div class="sidebar">
    <div class="sidebar__header">
      <router-link to="/backoffice" class="sidebar__logo"
        ><img src="../assets/logo.png" alt="Logo ProductShop" class="logo" />
        <span class="text">PS</span></router-link
      >
    </div>
    <div class="sidebar__main">
      <ul class="nav__list">
        <li class="nav__item">
          <router-link :to="{ name: 'Countries' }" class="nav__link"
            ><i class="fas fa-globe-americas"></i> Paises</router-link
          >
        </li>
        <li class="nav__item">
          <router-link :to="{ name: 'Users' }" class="nav__link"
            ><i class="fas fa-users"></i> Usuarios</router-link
          >
        </li>
      </ul>
    </div>
    <div class="sidebar__footer">
      <router-link :to="{ name: 'Cities' }" class="sidebar__footer--link"
        ><i class="fas fa-cog"></i> Configuración</router-link
      >
    </div>
  </div>
</template>

<script>
export default {
  name: "TheSideBar"
};
</script>

<style scoped>
.sidebar__logo {
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  object-fit: cover;
  position: center center;
}

.text {
  margin-left: 0.5rem;
  text-transform: uppercase;
  font-weight: bold;
}

.nav__list {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0.5rem 0;
}

.nav__item {
  width: calc(100% - 2rem);
  display: block;
  padding: 0.5rem 1rem !important;
}

.nav__item:hover {
  background: rgba(0, 0, 0, 0.3);
}

.nav__link {
  width: 100%;
  padding: 0;
}

.sidebar__footer--link {
  color: rgba(255, 255, 255, 0.6);
}

.sidebar__footer--link:hover {
  color: var(--white);
}
</style>
