<template>
  <div id="app">
    <router-view />
  </div>
</template>

<script>
export default {
  components: {}
};
</script>

<style>
:root {
  --primary: #0e1e24;
  --secondary: #00ff00;
  --danger: #ff0000;
  --warning: #ffff00;
  --gray: #7b8488;
  --white: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  background: var(--white);
  color: var(--gray);
  font-size: 16px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

a,
a:hover,
a:link {
  text-decoration: none;
}

.nav__list {
  list-style: none;
}

.nav__item {
  display: inline-block;
}

.nav__link {
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

.nav__link:hover {
  color: rgba(255, 255, 255, 1);
}

.nav__link-flag {
  color: rgba(255, 255, 255, 0.6);
  background: transparent;
  padding: 0.5rem;
  border-radius: 0.4rem;
  cursor: pointer;
}

.nav__link-flag:hover {
  color: rgba(255, 255, 255, 1);
  background: rgba(0, 0, 0, 0.3);
}

.nav__header {
  font-size: 1.25rem;
  padding: 0.5rem;
  border-radius: 0.4rem;
}

.nav__header:hover {
  background: rgba(255, 255, 255, 0.3);
}

.nav--right {
  display: flex;
  align-items: center;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

main {
  width: 100%;
  min-height: calc(100vh - 16.2rem);
  margin-top: -5rem;
}

.text-primary {
  color: var(--primary) !important;
}

.text-secondary {
  color: var(--secondary) !important;
}

.text-gray {
  color: var(--gray) !important;
}

.text-white {
  color: var(--white) !important;
}

.card {
  width: 100%;
  min-height: 10rem;
  background: var(--white);
  border-radius: 0.4rem;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  margin-bottom: 2rem;
}

.card__header {
  padding: 0.5rem 1rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__body {
  padding: 1rem;
}

.card__footer {
  padding: 1rem;
}

.btn {
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}

.btn--primary {
  border: solid 1px transparent;
  background: var(--primary);
  color: var(--white);
  cursor: pointer;
}

.btn--primary:hover {
  border: solid 1px var(--secondary);
  color: var(--secondary);
}

.btn--secondary {
  border: solid 1px transparent;
  background: var(--secondary);
  color: var(--primary);
  cursor: pointer;
}

.btn--secondary:hover {
  border: solid 1px var(--primary);
  color: var(--gray);
}

.btn--danger {
  border: solid 1px transparent;
  background: var(--danger);
  color: var(--white);
  cursor: pointer;
}

.btn--danger:hover {
  border: solid 1px var(--white);
  color: var(--gray);
}

.btn--warning {
  border: solid 1px transparent;
  background: var(--warning);
  color: var(--primary);
  cursor: pointer;
}

.btn-outline--danger {
  border: solid 1px var(--danger);
  background: transparent;
  color: var(--danger);
  cursor: pointer;
}

.btn-outline--danger:hover {
  border: solid 1px var(--gray);
  color: var(--gray);
}

.btn--warning:hover {
  border: solid 1px var(--primary);
  color: var(--gray);
}

.btn-outline--gray {
  border: solid 1px var(--gray);
  background: transparent;
  color: var(--gray);
  cursor: pointer;
}

.btn-outline--gray:hover {
  border: solid 1px var(--primary);
  color: var(--primary);
}

.btn--default {
  border: solid 1px transparent;
  background: transparent;
  color: var(--primary);
  cursor: pointer;
}

.btn--default:hover {
  border: solid 1px var(--primary);
  color: var(--gray);
}

.btn-block {
  display: block;
  width: 100%;
}

.media {
  padding: 1rem 0;
  display: flex;
}

.media__img {
  margin-right: 1rem;
}

.p-3 {
  padding: 1rem !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

/* ----------- ADMIN ----------- */
.main-admin {
  width: 100%;
  height: 100vh;
}

.sidebar {
  position: absolute;
  width: 10rem;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  background: var(--primary);
}

.sidebar__header {
  position: absolute;
  width: calc(100% - 2rem);
  height: 2rem;
  padding: 0.5rem 1rem;
  top: 0;
  display: block;
  border-bottom: solid 1px rgba(255, 255, 255, 0.3);
}

.sidebar__logo {
  color: var(--secondary);
}

.sidebar__main {
  position: absolute;
  width: 100%;
  height: 3rem;
  top: 3rem;
  display: block;
}

.sidebar__footer {
  position: absolute;
  width: calc(100% - 2rem);
  height: 3rem;
  bottom: 0;
  display: block;
  height: 2rem;
  padding: 1rem 1rem 0.5rem;
}

.section-admin {
  position: absolute;
  width: calc(100% - 10rem);
  height: 100vh;
  top: 0;
  right: 0;
  bottom: 0;
}

.header-admin {
  position: relative;
  width: calc(100% - 2rem);
  height: 3rem;
  margin: 0;
  padding: 0 1rem;
  top: 0;
  right: 0;
  background: var(--primary);
  border-bottom: solid 1px rgba(255, 255, 255, 0.3);
  color: var(--secondary);
  display: block;
  justify-content: space-between;
  align-items: center;
}

.main-admin {
  position: relative;
  width: calc(100% - 2rem);
  height: calc(100vh - 8rem);
  top: 0;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.05);
  color: var(--gray);
}

.footer-admin {
  position: absolute;
  width: calc(100% - 2rem);
  height: 2rem;
  margin: 0;
  padding: 1rem 1rem 0.5rem;
  bottom: 0;
  background: var(--white);
  color: var(--gray);
}

.main-admin__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-admin__title {
  font-weight: normal;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.ml-3 {
  margin-left: 1rem;
}

.table {
  width: 100%;
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  border-spacing: 2px;
  border-color: grey;
  border-collapse: collapse;
}

.table__head {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

.table__head--tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

.table__head--th {
  display: table-cell;
  font-weight: bold;
  text-align: -internal-center;
  text-align: inherit;
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.table__body {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

.table__body--tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

.table__body--th {
  display: table-cell;
  font-weight: bold;
  text-align: -internal-center;
  text-align: inherit;
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.table__body--td {
  display: table-cell;
  vertical-align: inherit;
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

form {
  display: block;
  margin-top: 0em;
}

.form-group {
  margin-bottom: 1rem;
}

label {
  cursor: default;
  display: inline-block;
  margin-bottom: 0.5rem;
}

input {
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: textfield;
  background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
  -webkit-rtl-ordering: logical;
  cursor: text;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 2px;
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(195, 195, 195));
  border-image: initial;
}

button,
input {
  overflow: visible;
}

input[type="checkbox" i] {
  background-color: initial;
  cursor: default;
  appearance: checkbox;
  box-sizing: border-box;
  margin: 3px 3px 3px 4px;
  padding: initial;
  border: initial;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.form-control {
  display: block;
  width: calc(100% - 2rem);
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-check {
  position: relative;
  display: block;
  padding-left: 1.25rem;
}

.form-check-input {
  position: absolute;
  margin-top: 0.3rem;
  margin-left: -1.25rem;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

.form-check-label {
  margin-bottom: 0;
}

.cursor-pointer {
  cursor: pointer;
}
/* -----X----- ADMIN -----X----- */
</style>
